* { 
    margin: 0; padding: 0; 
    z-index: 2;
    
}

body { 
    width: 100%; 
    height: 64.7rem;
    background-image: url("./assets/steve-harvey-l0V2dqXW_mI-unsplash.svg");
    background-position: unset;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-items: center;
    z-index: 0;
    position: relative;
} 

span {
    color: white;
    font-size: 1.2rem;
    letter-spacing: .1rem; 
    font-weight: bold;
    text-shadow: 0px 2px 1px black;
}

#background_overlay {
    width: 100%;
    height: 64.7rem;
    z-index: 1;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
}

h1 {
    display: none;
}

#title_display img {
    margin: 10rem 0; 
    border: .5rem double darkkhaki;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 1px 3px 10px 10px darkred;
}

#message_box {
    width: 85%;
    background-color: black;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message {
    
    min-height: 1.75rem;
    line-height: 1.75rem;
    border-right: .3rem solid green;
    background-color: none;
    font-size: 1.5rem;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .12rem;  
    max-width: fit-content;
    
}

@keyframes animated-text{
  0% { 
    width: 0;
    
}
  100% { 
    width: 100%;
    
}
}


@keyframes animated-cursor{
  from {
    border-right-color: green;
}
  to {
    border-right-color: transparent;
}
}

#message {
    animation: 
        4s animated-text steps(50) 2s both,
        400ms animated-cursor steps(50) infinite;
}

button {
    padding: 1rem 2rem;
    margin: 3rem 0 1.5rem 0;
    background-color: red;
    border: .3rem outset darkkhaki; 
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .1rem;
}

button:hover {
    cursor: pointer;
}

button:active {
    border: .45rem inset darkkhaki; 
    padding: 1rem 2rem;
    margin: 3rem 0 1.5rem 0;
    font-size: 1rem;
    transition-delay: .01s;
    
}