* { 
    margin: 0; padding: 0; 
    z-index: 2;
    font-family: 'Open Sans', sans-serif;
    flex-shrink: 2;
}

body { 
    width: 100%; 
    height: 100vh;
    min-height: 927px;
    background-image: url("./assets/steve-harvey-l0V2dqXW_mI-unsplash.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-items: center;
    z-index: 0;
    position: relative;
} 

span {
    color: white;
    font-size: 1.2rem;
    letter-spacing: .1rem; 
    text-shadow: 0px 2px 1px black;
}

#directions {
    width: 100%;
    text-align: center;
    background: rgba(255,0,0,.5);
    padding: .2rem 0;
    position: sticky;
    top: 93vh;
}

#background_overlay {
    width: 100%;
    height: 100vh;
    min-height: 927px;
    z-index: 1;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
}

h1 {
    display: none;
}

#title_display {
    display: flex;
    justify-content: center;
}

#title_display img {
    margin: 10rem 0; 
    border: .5rem double darkkhaki;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 1px 3px 10px 10px darkred;
    width: 90%;
    height: auto;
}

#chatter_message_box {
    width: 28.5rem;
    background-color: black;
    min-height: 2rem;
    display: flex;
    align-items: center;
    position: relative;
    right: 25.4%;
    margin-bottom: 1rem;
}

#chatter_message {
    color: black;
    margin: 0 .75rem;
    font-weight: lighter;
    letter-spacing: .2em;
}

#message_box {
    width: 86.4%;
    background-color: black;
    min-height: 3rem;
    display: flex;
    align-items: center;
}

#message { 
    min-height: 1.75rem;
    line-height: 1.75rem;
    background-color: none;
    font-size: 1.3rem;
    color: rgb(7,217,83);
    overflow: hidden;
    white-space: nowrap;
    margin-left: .5rem;
    letter-spacing: .12rem;  
    max-width: fit-content;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}

#cursor {
    border-right: .3rem solid green;
    height: 1.75rem;  
    margin-right: .5rem;
}

@keyframes chatter-blink {
    from {
        color: black;
}
    to {
        color: rgb(7,217,83);
    }
}

@keyframes animated-text{
  0% { 
    width: 0;
    
}
  100% { 
    width: 100%; 
}
}


@keyframes animated-cursor{
  from {
    border-right-color: green;
}
  to {
    border-right-color: transparent;
}
}

#chatter_message {
    animation: .5s chatter-blink steps(50) .15s 4 both;
}

#message {
    animation: 
        4s animated-text steps(50) 4.15s both,
        400ms animated-cursor steps(50) infinite;
}

#cursor {
    animation: 
        400ms animated-cursor steps(50) infinite;
}

button {
    padding: 1rem 2rem;
    margin: 9rem 0 .08rem 0;
    background-color: red;
    border-radius: 2rem;
    border: .1rem solid darkkhaki; 
    color: darkkhaki;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .1rem;
    background-color: rgba(255,0,0,.7);
    text-shadow: 0px 2px 1px black;
    transition-delay: .1s;
}

button:hover {
    cursor: pointer;
}

button:active {
    border: .18rem inset darkkhaki; 
    padding: 1.1rem 2.3rem .9rem 2.2rem;
    letter-spacing: .09rem;
    margin: 9rem 0 0.04rem 0;
    font-size: 1.1rem;
    transition-delay: 0s;
    text-shadow: none;  
}

@media only screen and (max-width: 955px) and (min-width: 600px) {
    #chatter_message_box {
        position: static;   
    }
    
    #message {
        overflow: auto;
        padding-top: .75rem;
        padding-bottom: .75rem;
        text-overflow: ellipsis;
    }
    
    button, button:active {
        margin-top: 11rem;
    }
}

@media only screen and (orientation: landscape) and (min-width: 800px) {
    #title_display img {
        margin: 5rem 0 8rem 0;
    }
    
    button, button:active {
        margin-top: 7rem;
    }
}

@media only screen and (max-width: 600px) {
    #title_display img {
        margin: 13% 0 20% 0;
    }
    
    #chatter_message_box {
        position: static;   
        width: fit-content;
        justify-content: center;
    }
    
    #chatter_message {
        font-size: 1rem;
        letter-spacing: .1rem;
    }
    
    #message {
        overflow: auto;
        padding-top: .75rem;
        padding-bottom: .75rem;
        text-overflow: ellipsis;
        font-size: 1.2rem
    }
    
    button, button:active {
        margin-top: 40%;
        margin-bottom: 10%;
    }
    
    #directions {
        top: 85vh;
        font-size: 1rem;
    }   
}

@media only screen and (orientation: landscape) and (max-width: 800px) {
    #title_display img {
        margin: 2% 0 5% 0;
        height: 30vh;
        width: auto;
    }
    
     button, button:active {
        margin-top: 4%;
        margin-bottom: 5%;
    }
    
    #directions {
        top: 85vh;
        font-size: 1rem;
    }   
}